DB_PASSWORD=
OPEN_API_KEY=
GMAIL_APP_CONFIG=Gmail=youremail@gmail.com;Name=My Recipe Book;Password=your password here
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_SQS_DELETE_USER_URL=
AWS_ECR_URL=