DB_PASSWORD=
OPEN_API_KEY=
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_SQS_DELETE_USER_URL=
GMAIL_APP_CONFIG=Gmail=your-email@gmail.com;Name=Your Name;Password=your-password
AWS_REGION=region-name
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key