DB_PASSWORD=
OPEN_API_KEY=
AWS_S3_CONFIG=AccessKey=your-access-key;SecretKey=your-secret-key;BucketName=your-bucket-name;Region=region-name
AWS_SQS_DELETE_USER_URL=
GMAIL_APP_CONFIG=Gmail=your-email@gmail.com;Name=Your Name;Password=your-password